<div class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng </h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm hỗ trợ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">BUS App</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoảng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Danh mục </h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chuột</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Bàn phím</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tai nghe</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heding">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class=" footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class=" footer-item__link">
                                    <i class=" footer-item__icon fa-brands fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class=" footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-linkedin"></i>
                                    Likedin
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                        <div class="footer__download">
                            <img src="../image/qrcode.png" alt="" class="footer__download-qr">
                            <div class="footer__download-app">
                                <a href="" class="footer__download-app-link">
                                    <img src="../image/googleplay.png" alt="" class="footer__download-app-img">
                                </a>
                                <a href="" class="footer__download-app-link">
                                    <img src="../image/appstore.jpg" alt="" class="footer__download-app-img">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="footer__bottom">
                <div class="grid">
                    <div class="grid__row" style="justify-content:center">
                        <div class="footer__text">© 2022 - Bản quyền thuộc về Công ty TNHH BAS</div>
                    </div>
                     <div class="grid__row" style="justify-content:center">
                        <div class="footer__text">Đồ án này thuộc về Trương Nguyễn Công Chính - 20520884 - Trường ĐH Công Nghệ Thông Tin</div>
                    </div>
                     <div class="grid__row" style="justify-content:center">
                        <div class="footer__text">Và hỗ trợ từ Nguyễn Thái Bảo - 20521105 - Trường ĐH Công Nghệ Thông Tin</div>
                    </div>
                </div>
            </div>
        </div>